.cart-wrapper {
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.cart-heading-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
}

.cart-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cart-list-item {
  width: calc(50% - 10px);
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.cart-item-img {
  flex: 0 0 120px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 60px; /* Set the desired height for the image */
}

.cart-item-img img {
  width: auto;
  height: 100%; /* Make the image fill the entire height of the container */
  object-fit: contain;
}


.cart-item-content {
  flex: 1;
  display: flex;
  flex-direction: column; /* Stack the content vertically */
}

.cart-item-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap; /* Allow the content to wrap on smaller screens */
}

.brand {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  flex-basis: 100%; /* Make the brand take full width on smaller screens */
}

.price-block {
  text-align: right;
}

.current-price {
  font-size: 18px;
  font-weight: bold;
}

.cart-item-bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow the content to wrap on smaller screens */
}

.qty-group {
  display: flex;
  align-items: center;
}

.number-count {
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
}

.btn-wrapper {
  margin-top: 20px;
  text-align: center; /* Center the button on smaller screens */
}

@media screen and (max-width: 768px) {
  .cart-list-item {
    width: 100%; /* Display one item per row */
  }
}