.featured-books{
  width: 100%;
}

.book-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjust the alignment of elements */
  padding: 12px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.book-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: 200px; /* Adjust the desired height for the images */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px; /* Reduce the margin between the image and text */
}

.book-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: center;
}

.book-category {
  color: #888;
  padding-top: 5px;
  text-align: center;
}

.book-description {
  font-size: 0.9rem;
  padding-top: 5px;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.book-price {
  font-size: 0.9rem;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}

.sort-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Add align-items to center the dropdown vertically */
  margin-bottom: 20px;
}

.dropdown-wrapper {
  width: 200px;
  margin-left: auto; /* Add margin-left: auto to push the dropdown to the right */
}
